body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

/* Sign Up and Sign In Button Styling */
nav ul li a.signup {
    background-color: #4CAF50; /* Green */
    color: white;
}

nav ul li a.signup:hover {
    background-color: #45a049;
}

nav ul li a.signin {
    background-color: #008CBA; /* Blue */
    color: white;
}

nav ul li a.signin:hover {
    background-color: #007bff;
}

/* Other Styling */
.latest-posts, .other-options {
    padding: 20px;
}

.latest-posts h2, .other-options h2 {
    margin-bottom: 20px;
}

.latest-posts ul, .other-options ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.latest-posts ul li, .other-options ul li {
    margin-bottom: 15px;
}

.latest-posts ul li a, .other-options ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.latest {
    margin: 12px 18px;
}
