{% load static %}

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'users/css/edit_profile.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" >Edit</button>
        <!-- <button type="submit">reset password here</button>  -->
         <a class="reset" href="#">
            reset password here
         </a>
         <a class="goback" href="{% url 'users:profile' %}">Go Back</a>
    </form>    
</body>
</html>